@{
    ViewBag.Title = "ResultsExam";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}

<h2 style="text-align: center;  background-color: cadetblue; margin-right:30px; padding: 10px; ">Results Of Exam</h2>

<div class="row mt-4" style="max-width:100%;">
    <div class="col-md-12">
        <table class="table table-striped table-responsive table-bordered ">
            <thead>
                <tr>
                    <th> Student Id </th>
                    <th> Room Number </th>
                    <th> Category Name </th>
                    <th> Name </th>
                    <th> Score </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in (List<QuizApp.Models.report>)TempData["ResultsExam"])
                {
                    <tr>
                        <td>@item.std_id</td>
                        <td>@item.cat_encrytped_string</td>
                        <td>@item.cat_name</td>
                        <td>@item.std_name</td>
                        <td>@item.std_score</td>

                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

